/* Write your CSS here */
.teams-container {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  margin: 20px;
  background-color: #475569;
  border: 1px solid #fff;
}
.team-logo {
  height: 100px;
  width: 70px;
}
.team-name {
  color: #fff;
  text-decoration: none;
}
